/*
	Styles for component: Breadcrumbs
*/

.breadcrumb {
	padding: 8px 0;
	list-style: none;
	background-color: #fafafa;
	width: 100%;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li+li:before {
	padding: 8px;

	color: black;
	content: "/\00a0";
}

.breadcrumb li a {
	text-decoration: underline;
}
